/target/
/.settings/
.factorypath
.project
.classpath
*.idea
/.idea/
*.iml
cloud-api-commons/src/main/resources/
cloud-api-commons/src/test/
cloud-api-commons/target/generated-sources/
cloud-consumer-order80/src/test/
cloud-consumer-order80/target/generated-sources/
cloud-provider-payment8001/src/test/
cloud-provider-payment8001/target/generated-sources/
